/*共通設定*/

/*このページにcssを追加しないでください。*/

*{
	margin:0;
	padding:0;
}

.red{
	background-color: #e6002d;
}

.green{
	background-color: #00e62d;
}

.gray{
	background-color: #BEBEBE;
}

.lightgray{
	background-color: #eee;
}

.orange{
	background-color: #ef7a0e;
}


/*ヘッダーの設定*/
h1{
	height: 70px;
	width:900px;
	margin:0 auto;
}

/*ようこそ　ログアウト部分*/
#login{
	width:900px;
	margin:0 auto;
	text-align: right;
}
/*ようこそ　ログアウト部分終了*/

/*検索*/
#search{
	width:900px;
	margin:0 auto;
	text-align: right;
}

#search .slong{
	text-align: right;
	float:left;
}

/*検索終了*/

/*状態部分の設定*/

#condition{
	text-align: right;
	width:900px;
	margin: 0 auto;
}


/*状態部分終了*/

/*タグのスタイルはじめ*/
#container{
	width:900px;
	margin:0 auto;
}
ul.tab{
	padding:0;
}
ul.tab li{
	list-style-type:none;
	width:225px;
	height:39px;
	float:left;
}

ul.panel{
	clear:both;
	border:1px solid #c4c4c4;
	border-top:none;
	padding:0;
}
ul.panel li{
	list-style-type:none;
	padding:10px;
	color:#333;
}
/*タグのスタイル完了*/

/*社員一覧はじめ*/

.right{
	padding:0 0 0 550px;
}

/*社員一覧のテーブル*/
.border{
	border: solid 1px #000000; 
	border-collapse: collapse;
}

.border th{
	border: solid 1px #000;
}

.border tr{
	border: solid 1px #000;
}

.border td{
	border: solid 1px #000;
	padding:5px;
}

.tdright{
	width: 200px;
}

.wlong{
	width: 100px;
}

/*社員一覧完了*/

/*カレンダー*/

#calendar{
	border: medium solid #000;
}

#calendar th{
	width:75px;
	height:30px;
	background-color: #ef7a0e;
}

#calendar td{
	width:75px;
	height:75px;
	text-align: center;
	cursor: pointer;
}

#calendar td.notAssigned{
	background: white;
}
#calendar td.long{
	background: red;
}

/*カレンダー終了*/

/*残業不可登録*/
#calendarin{
	border: medium solid #000;
}

#calendarin th{
	width:75px;
	height:30px;
	background-color: #ef7a0e;
}

#calendarin td{
	width:75px;
	height:75px;
	text-align: center;
	cursor: pointer;
}

#calendarin td.notAssigned{
	background: white;
}
#calendarin td.not{
	background: gray;
}
/*残業不可登録完了*/

/*footer*/
#footer {
  clear: both;
  width: 100%;
  background-image: url("../images/footer_back.jpg");
  background-repeat: repeat-x;
  height: 46px;
  margin-top: 30px;
}

#footer .boxC {
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}

#footer .boxC .boxR {
  float: right;
  width: 630px;
  margin-top: 14px;
  text-align: right;
}

/*メール一斉送信ボタン*/
#mail_all{
  margin: 10px 0 0 800px;
  padding: 0 0 0 0;
}

/*このページにcssを追加しないでください。*/