/*  indexのCSS  */
form#search{
	height:30px;
	margin:5px 0 5px 0;
}
span#button{
	white-space: nowrap;
}

span#button img{
	margin:5px 0 0 0;
	paddnig:0 0 0 0;
}

span#button button{
	background-color: #ffffff;
	border:none;
	outline:none;
	width:60px;
	height:23px;
	padding:0 0 0 0;
	margin:3px 0 0 0;
}


div#view{
	float:left;
	width:298px;
	height:40px;
	margin:10px 0 10px 0;
	border-right:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	text-align:center;
	background-color:#ffffff;
}

div#view a{
	font-size:20px;
}

div#sighin{
	float:left;
	width:298px;
	height:40px;
	margin:10px 0 10px 0;
	text-align:center;
	background-color:#ffffff;
}

div#sighin a{
	font-size:20px;
}

div#notsigh{
	float:left;
	width:300px;
	height:40px;
	margin:10px 0 10px 0;
	border-right:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	text-align:center;
	background-color:#ffffff;
}

div#notsigh a{
	font-size:20px;
}

span.text_top{
	padding:20px 0 0 0;
}

div#easy_but{
	height:30px;
	width:400px;
	margin:0 auto 0 auto;
}
form#easy_left{
	margin:0 50px 0 0;
}
/* login*/
div#login_panel{
	border:2px solid #FF8C00;
	width:500px;
	height:150px;
	margin:100px auto 100px auto;
}

div#login_panel form{
	margin:20px auto 0 100px;
}

span#login_title{
	
	margin:20px 0 10px 0;
	font-weight: bolder;
}

span#employee_num{
	height:30px;
	margin:10px 0 0 0;
	
}

input#login_submit{
	margin:10px 60px 0 60px;
}

/*///////////*/

/*  otime   */
span#otime_back{

	margin:0 0 0 840px;


}


span#year_month{

	font-weight: bolder;

}

/*//////////*/

/* otimein */

span#otimein_back{

	margin:0 0 0 840px;

}

ul.panel div#otimein{
	width:400px;
	padding:20px;
	margin:50px auto 50px auto;
	border:2px solid #FF0000;
}

span#button_otimein{
	white-space: nowrap;
}
span#button_otimein img{
	margin:5px 0 0 0;
	paddnig:0 0 0 0;
}

span#button_otimein button{
	background-color: #ffffff;
	border:none;
	outline:none;
	width:60px;
	height:23px;
	padding:0 0 0 0;
	margin:3px 0 0 0;
}

form#otime_form{
	margin:0 auto 0 70px;
}

/*/////////*/

/* nototime */

span#noto_back{

	margin:0 0 0 840px;

}

ul.panel div#nototime{
	
	width:400px;
	padding:20px;
	margin:50px auto 60px auto;
	border:2px solid #FF0000;
}

span#button_nottime{ 
	white-space: nowrap;
        margin:0 0 0 50px;
        
}
span#button_nottime img{
	margin:5px 0 0 0;
	paddnig:0 0 0 0;
}

span#button_nottime button{
	background-color: #ffffff;
	border:none;
	outline:none;
	width:60px;
	height:23px;
	padding:0 0 0 0;
	margin:3px 0 0 0;
}

form#nototime_form{
	margin:10px auto 0 80px;
}

ul.panel div#nototime_del{
	
	width:400px;
	padding:20px;
	margin:50px auto 50px auto;
	border:2px solid #FF0000;
}

a#insert{
    font-size:18px;
}

a#delete{
    font-size:18px;
}
/*//////////*/


/*  ad_総合   */



span#ad_top{
	border-right:1px solid #c4c4c4;
	border-left:1px solid #c4c4c4;
	float:left;
	font-size:20px;
	padding:0 30px 0 29px;
	margin:10px 0 15px 0;
}

span#ad_item{
	border-right:1px solid #c4c4c4;
	float:left;
	font-size:20px;
	padding:0 29px 0 30px;
	margin:10px 0 15px 0;
}
span#ad_card{
	border-right:1px solid #c4c4c4;
	float:left;
	font-size:20px;
	padding:0 30px 0 29px;
	margin:10px 0 15px 0;
}

span#ad_add{
	border-right:1px solid #c4c4c4;
	float:left;
	font-size:20px;
	padding:0 29px 0 30px;
	margin:10px 0 15px 0;
}

span#ad_fixture{
	border-right:1px solid #c4c4c4;
	float:left;
	font-size:20px;
	padding:0 29px 0 29px;
	margin:10px 0 15px 0;
	}

span#ad_lease{
	border-right:1px solid #c4c4c4;
	float:left;
	font-size:20px;
	padding:0 29px 0 29px;
	margin:10px 0 15px 0;
	}


/*            */


/* ad_login*/

div#login_panel_add{
	border:2px solid #ff0000;
	width:500px;
	height:150px;
	margin:100px auto 100px auto;
}

div#login_panel_add form{
	margin:20px auto 0 100px;
}

/*         */

/* ad_card*/
td#unco{
	text-align: center;
}
/*///////*/